<tr>
    <td>
        <button class="btn btn-success btn-sm" ng-hide="ajaxFlag || editingFlag"><i
                class="glyphicon glyphicon-pencil" ng-click="editar()"></i></button>
        <button class="btn btn-success btn-sm" ng-hide="ajaxFlag || !editingFlag"><i
                class="glyphicon glyphicon-floppy-save" ng-click="completarEdicao()"></i></button>
        <button class="btn btn-warning btn-sm" ng-hide="ajaxFlag || !editingFlag"><i
                class="glyphicon glyphicon-floppy-remove" ng-click="cancelar()"></i></button>
    </td>
    <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    <td><span ng-hide="editingFlag">{{ course.title }}</span> <input ng-show="editingFlag" type="text"
                                                                     ng-model="cursoEdicao.title"></td>
    <td><span ng-hide="editingFlag">{{ course.price }}</span><input ng-show="editingFlag" type="text"
                                                                     ng-model="cursoEdicao.price"></td>
    <td>{{ course.id }}</td>
    <td>{{ course.creation }}</td>
    <td>
        <button class="btn btn-danger btn-sm" ng-hide="ajaxFlag"><i
                class="glyphicon glyphicon-trash"
                ng-click="deletar()"></i></button>
        <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    </td>
</tr>